body {
  margin: 0;
}
.wrapper {
  width: 80%;
  margin: auto;
}
.header {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  border: dashed 1px red;
}

.logo {
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  font: bold 24px/32px 'pt_serif', Arial, Helvetica, sans-serif;
  border: dashed 1px red;
}
.logo__circle {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  opacity: 70%;
}
.logo__circle_color_dark-blue {
  background: #0056ec;
}
.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #c8dbfb;
}
.menu {
  display: flex;
  align-items: center;
  border: dashed 1px red;
}
.menu__item {
  position: relative;
  margin-right: 26px;
  font: 500 18px/21px 'Roboto', Arial, Helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity 0.5s;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__item:after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 0;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: opacity 0.5s, width 0.5s;
}
.menu__item:hover {
  opacity: 0.5;
}

.menu__item:hover:after,
.menu__item_active:after {
  opacity: 1;
  width: 100%;
}
.menu__item_active::after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  height: 3px;
  background: #0056ec;
}

/* .section */
/* .main-content  */

.main-content__title {
  font-family: 'Roboto', sans-serif;
}
/* .main-content__subtitle  */
/* .main-content__button  */
/* .image-content  */
/* .imade-content__image */
